* {
  font-family: "InaiMathi", "Tamil Sangam MN",
    /* For iOS 3+ and Mac */ "Nirmala UI", Latha, /* For Windows */ Bamini,
    Roboto, /* For Android 4+ */ Noto, "Noto Sans Tamil",
    /* For Ubuntu */ sans-serif; /* For Everything else */
}

.container {
  background-color: #cee5d0;
  text-align: center;
  margin: 20px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.fetch-by-word {
  float: left;
}

.fetch-by-number {
  float: right;
}

.input-container {
  align-content: center;
}

.kuralDOM {
  background-color: #f3f0d7;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  color:#5e454b;
}
h3,h4{
    color: #5e454b;
}

.button{
  background-color: #47597e;
  border-radius: 8px;
  color: #f3f0d7;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  /* margin: 4px 2px; */
  cursor: pointer;
}

input{
  padding: 12px 20px;
  margin: 6px 0;
}